{% extends "base.html" %}

{% block content %}
    <div class="donations-title">
        <h1>Создатель сайта не нуждается в ваших донатах, но в них нуждаются многие другие.</h1>
        <h2>Сделайте разовое пожертвование в благотворительный фонд или оформите подписку.</h2>
    </div>
    <div class="links">
        <a class="link" href="https://bfkh.ru/how-to-help/donation/online/?">
            <img class="logo" src="{{ url_for('static', filename='img/habenskiy.jpg') }}">
            <div class="description">
                <h4>Фонд Константина Хабенского</h4>
                <p>помощь людям с опухолями головного и спинного мозга</p>
            </div>
            <img class="second-logo" src="{{ url_for('static', filename='img/habenskiy.jpg') }}">
        </a>
        <a class="link" href="https://haf-spb.org/donate/">
            <img class="logo" src="{{ url_for('static', filename='img/gum_dev.jpg') }}">
            <div class="description">
                <h4>Гуманитарное действие</h4>
                <p>помощь людям с ВИЧ</p>
            </div>
            <img class="second-logo" src="{{ url_for('static', filename='img/gum_dev.jpg') }}">
        </a>
        <a class="link" href="https://mayak.help/help/">
            <img class="logo" src="{{ url_for('static', filename='img/dom_s_mayakom.jpg') }}">
            <div class="description">
                <h4>Дом с маяком</h4>
                <p>помощь неизлечимым больным детям</p>
            </div>
            <img class="second-logo" src="{{ url_for('static', filename='img/dom_s_mayakom.jpg') }}">
        </a>
        <a class="link" href="https://podari-zhizn.ru/ru/donate">
            <img class="logo" src="{{ url_for('static', filename='img/podari_zhizn.jpg') }}">
            <div class="description">
                <h4>Подари жизнь</h4>
                <p>помощь раковым больным</p>
            </div>
            <img class="second-logo" src="{{ url_for('static', filename='img/podari_zhizn.jpg') }}">
        </a>
        <a class="link" href="https://foodbankrus.ru/khochu-pomoch/dengami/">
            <img class="logo" src="{{ url_for('static', filename='img/bank_edi.jpg') }}">
            <div class="description">
                <h4>Банк еды Русь</h4>
                <p>помощь с продуктами питания нуждающимся</p>
            </div>
            <img class="second-logo" src="{{ url_for('static', filename='img/bank_edi.jpg') }}">
        </a>
        <a class="link" href="https://raex-rr.com/NKO/largest_NKO/fundraising_fund_rating/2024/">
            <img class="logo" src="{{ url_for('static', filename='img/raex.jpg') }}">
            <div class="description">
                <h4>Рейтинг НКО от RAEX</h4>
                <p>ещё больше проверенных фондов</p>
            </div>
            <img class="second-logo" src="{{ url_for('static', filename='img/raex.jpg') }}">
        </a>
    </div>
{% endblock %}