{% extends "base.html" %}

{% block content %}
    <div class="links">
        <a class="link" href="https://t.me/shizocells">
            <img class="logo" src="{{ url_for('static', filename='img/sh.jpg') }}">
            <div class="description">
                <h4>🦊⛧ Shizocells ⛧ 2.0 ? Drugcells🦊</h4>
                <p>блог, мемы и прочие приколы юмора</p>
            </div>
            <img class="second-logo" src="{{ url_for('static', filename='img/sh.jpg') }}">
        </a>
        <a class="link" href="https://t.me/shizodating_bot">
            <img class="logo" src="{{ url_for('static', filename='img/sh2.jpg') }}">
            <div class="description">
                <h4>✨ShizoDating✨</h4>
                <p>аналог дайвинчика для своих</p>
            </div>
            <img class="second-logo" src="{{ url_for('static', filename='img/sh2.jpg') }}">
        </a>
        <a class="link" href="https://t.me/+osKHv122wvo0NTQy">
            <img class="logo" src="{{ url_for('static', filename='img/sh.jpg') }}">
            <div class="description">
                <h4>💊Шизоцел 2.0 🎹 БАБСКИЕ ШИЗО РАЗБОРКИ</h4>
                <p>наш чат для самых крутых подписчиков</p>
            </div>
            <img class="second-logo" src="{{ url_for('static', filename='img/sh.jpg') }}">
        </a>
    </div>
{% endblock %}